.outer-container {
    margin: 30px;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 6px;
}

.left-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 50vw;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    width: 50vw;
}

::ng-deep .p-inputtext {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    background-color: #f2f2f2;
    border: none;
}

::ng-deep .p-password {
    width: 100%;
}

::ng-deep .p-button {
    margin-bottom: 10px;
    width: 80%;
}

.error {
    font-size: 10px;
    color: red;
    margin-top: 0px;
    margin-bottom: 5px;
}
.loginbutton {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

input.ng-invalid.ng-touched {
    border: 1px red solid;
}

.signIn {
    font-weight: 700;
}



@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
    }
    .left-contianer {
        height: auto;
        width: auto;
        text-align: center;
    }
    .right-container {
        height: auto;
        width: auto;
        margin-left: 100px;
        margin-right: 100px;
        
    }
    .image {
        height: 150px;
    }
    .heading {
        font-size: 14px;
        margin: 5px
    }
    .para {
        font-size: 12px;
        margin: 5px
    }
    .label {
        text-align: left;
    }
    .createButton {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .forgot {
        display: flex;
        flex-direction: column;
    }
    ::ng-deep .p-inputtext {
        width: 100% !important;
    }
    ::ng-deep .p-button {
     width: 100% !important;
    }
    .signIn {
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .forgotpassword {
        margin-top: 10px;
    }
    .mediumDevice {
        display: flex;
        justify-content: space-between;
    }
    .loginbutton {
        margin-bottom: 70px;
    }

}


@media screen and (max-width: 426px) {
    .outer-container {
        margin: 20px !important;
        max-width: 100vh;
    }
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        max-width: 100vh;
    }
    .left-contianer {
        height: auto !important;
        width: auto !important;
        text-align: center;
    }
    .image {
        height: 100% !important;
        width: 100% !important;
        border-radius: 6px;
    }
    .right-container {
        height: auto !important;
        width: auto !important;
        margin: 10px !important;
        
    }
    .heading {
        font-size: 14px;
        margin: 5px
    }
    .para {
        font-size: 12px;
        margin: 5px
    }
    .label {
        text-align: left;
    }
    .createButton {
        margin-right: 0px;
    }

    .forgot {
        display: flex;
        flex-direction: column;
    }
    ::ng-deep .p-inputtext {
        width: 100% !important;
    }
    ::ng-deep .p-button {
     width: 100% !important;
    }
    .forgotpassword {
        margin-top: 10px;
    }
    .mediumDevice {
        display: block !important;
    }
    ::ng-deep .p-toast {
      width: 280px !important;
    }
}

