.outer-container {
    margin: 30px;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 6px;
}

.left-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 50vw;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    width: 50vw;
}