.outer-container {
    margin: 30px;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 6px;
}

.left-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 50vw;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    width: 50vw;
}

.row {
    display: block;
    flex-direction: column; 
    gap: 0px;
    }



@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        height: 590px;
    }
    .left-contianer {
        height: auto;
        width: auto;
        text-align: center;
    }
    .right-container {
        height: auto;
        width: auto;
        margin-left: 100px;
        margin-right: 100px;
        
    }
    .image {
        height: 150px;
    }
    .heading {
        font-size: 14px;
        margin: 5px
    }
    .para {
        font-size: 12px;
        margin: 5px
    }
    .label {
        text-align: left;
    }
    .createButton {
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .forgot {
        display: flex;
        margin-top: 10px;
        margin-right: 0px;
    }
    ::ng-deep .p-inputtext {
        width: 100% !important;
    }
    ::ng-deep .p-button {
     width: 100% !important;
    }
    .forgotpassword {
        margin-top: auto;
    }

    .signIn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }

}

@media screen and (max-width: 426px) {
    .outer-container {
        margin: 20px !important;
    }
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        height: auto !important;
    }
    .left-contianer {
        height: auto !important;
        width: auto !important;
        text-align: center;
    }
    .image {
        height: 100% !important;
        width: 100% !important;
        border-radius: 6px;
    }
    .right-container {
        height: auto !important;
        width: auto !important;
        margin: 10px !important;
        
    }
    .heading {
        font-size: 14px;
        margin: 5px
    }
    .para {
        font-size: 12px;
        margin: 5px
    }
    .label {
        text-align: left;
    }
    .createButton {
        margin-right: 0px;
    }

    .forgot {
        display: flex;
        flex-direction: column;
    }
    ::ng-deep .p-inputtext {
        width: 100% !important;
    }
    ::ng-deep .p-button {
     width: 100% !important;
    }
    .forgotpassword {
        margin-top: 10px !important;
    }
    .row {
    display: block !important;
    flex-direction: column !important;
    gap: 0px !important;
    }
    ::ng-deep .p-toast {
      width: 280px !important;
    }

    
}
