.container {
    margin: 20px;
    padding-right: 40px;
}
.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.table {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
}

.table::-webkit-scrollbar {
  display: none;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.table-container th,
.table-container td {
  padding: 12px 10px;
  border-bottom: 4px solid #e0e0e0;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container tr:hover {
  background-color: #ecf0f1;
}

.table-container td:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

table::-webkit-scrollbar {
  display: none;
}

.row {
    display: flex;
    gap: 10px;
}
.column {
    display: flex;
    flex-direction: column;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

