body {
    position: absolute;
    top: 7vh;
    left: 15vw;
    margin: 20px;
}

.inputfield {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    background-color: #ffffff;
    border: none;
    height: 40px;
    border-radius: 6px;
}
