.container {
  margin: 20px;
  padding-right: 40px;
}

.inputfield {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 6px;
    padding: 10px;
}

.page {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  z-index: 1000;
}

button {
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 180px;
  background-color: #3B82F6;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cancel {
  height: 40px !important;
  background-color: #ffffff !important;
  color: #000000;
  width: 80px !important;
  box-shadow: none !important;
  border: 1px solid #000000;
}
.save {
  height: 40px !important;
  color: #ffffff;
  width: 80px !important;
  box-shadow: none !important;
}

@media screen and (max-width: 320px) {
      .dashboard-expanded {
        position: static !important;
        left: 15vw !important;
        top: 7vh !important;
        width: calc(100vw - 8vw) !important;
        margin-left: 20px !important;
      }

    .dashboard-collapsed {
      position: static !important;
      left: 5vw !important;
      top: 7vh !important;
      width: calc(100vw - 8vw) !important;
      margin-left: 20px !important;
    }

    .container {
      margin: 20px;
      padding-right: 20px;
    }
    .page {
      position: absolute;
      bottom: 0;
      right: 20px !important;
      display: flex;
      align-items: center;
      gap: 30px !important;
      margin-bottom: 5px !important;
      z-index: 1000;
      margin-top: 10px;
      padding-right: 0px !important;
    }

    .cancel {
      height: 40px !important;
      background-color: #ffffff !important;
      color: #000000;
      width: 127px !important;
      box-shadow: none !important;
      border: 1px solid #000000;
    }
    .save {
      height: 40px !important;
      color: #ffffff;
      width: 127px !important;
      box-shadow: none !important;
    }
    .inputfield {
      width: 100%;
    }

    .ellipsis-paragraph {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
}


@media screen and (max-width: 768px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw) ;
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }
    .page {
      position: fixed;
      bottom: 0;
      right: 30px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
      z-index: 1000;
    }

}

@media screen and (max-width: 1024px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw);
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }
    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .table {
        height: 680px; 
    }
    .page {
      right: 30px;
    }

}



