.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.logo-container {
    margin-left: 20px;
}

.logo {
    height: 45px;
    width: 80px;
}
.right-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}

.profile {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.logout {
    height: 30px;
    width: 100px;
    background: #3498db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.logoutIcon {
    display: none;
}


@media screen and (max-width: 768px) {
    .profile {
        height: 40px;
        width: 40px;
    }
}


@media screen and (max-width: 426px) {
    .logout {
        display: none !important;
    }
    .logoutIcon {
        display: flex !important;
    }
    .profile {
        height: 40px !important;
        width: 40px !important;
    }
    .logo-container {
        margin-left: 5px !important;
    }
    .right-container {
        margin-right: 10px !important;
    }
}


@media screen and (max-width: 376px) {
    .logout {
        display: none !important;
    }
    .logoutIcon {
        display: flex !important;
    }
    .profile {
        height: 40px !important;
        width: 40px !important;
    }
    .logo-container {
        margin-left: 5px !important;
    }
    .right-container {
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 320px) {
    .logout {
        display: none;
    }
    .logoutIcon {
        display: flex;
    }
    .profile {
        height: 40px !important;
        width: 40px !important;
    }
    .logo-container {
        margin-left: 5px !important;
    }
    .right-container {
        margin-right: 10px !important;
    }
}
