/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html body { margin: 0; font-weight: 300; color: #393232cd;}

body {
    background-color: #ecf0f1;
    overflow: hidden;
    color: #000000;
}

@media screen and (max-width: 320px) {
    body {
        overflow: auto !important;
    }

    .dashboard-expanded {
      position: absolute;
      top: 15vh;
      height: calc(100vw - 15vw);
      margin-left: 20px;
      width: 100vw;
    }

  .dashboard-collapsed {
    position: absolute;
    top: 5vw;
    height: calc(100vw - 5vw);
    margin-left: 20px;
    width: 100vw;
  }
}

.dashboard-expanded {
  position: absolute;
  left: 15vw;
  top: 7vh;
  width: calc(100vw - 15vw);
  margin-left: 20px;
}

.dashboard-collapsed {
  position: absolute;
  left: 5vw;
  top: 7vh;
  width: calc(100vw - 5vw);
  margin-left: 20px;
}

