<app-header></app-header>
<app-dashboard></app-dashboard>

<p-toast></p-toast>
<div [ngClass]="sidebarVisible ? 'dashboard-expanded' : 'dashboard-collapsed'" class="container">
    <div>
        <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <!-- <div class="horizontalline"></div> -->
            <p-inputSwitch [(ngModel)]="checked" (click)="change()"/>
        </div>
        <div style="display: flex; align-items: center; gap: 5px; cursor: pointer;" (click)="togglePage()" #menuToggle>
            <i class="pi pi-bars" style="font-size: 1rem; font-weight: bold;"></i>
            <span class="pageSize">{{ pageSize }}</span>

            <div class="pagenumber" *ngIf="showpage" #menuDropdown>
                <div (click)="updatePageSize(20)" [ngClass]="{ 'active-page-size': pageSize === 20 }">Show 20</div>
                <div (click)="updatePageSize(30)" [ngClass]="{ 'active-page-size': pageSize === 30 }">Show 30</div>
                <div (click)="updatePageSize(40)" [ngClass]="{ 'active-page-size': pageSize === 40 }">Show 40</div>
            </div>
        </div>
    </div>
        
    <div class="table">
        <table class="table-container">
            <thead>
                <tr>
                <th>
                    <div class="row" (click)="toggleSort('sequence')">
                        <div>
                            <span>Sequence</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'sequence' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'sequence' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'sequence' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'sequence' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                    </div>
                    <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                    <input type="search"
                        class="searchIcon" [(ngModel)]="columnSearch.sequence" (ngModelChange)="filterTickets()"/>
                        <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                    </div>
                </th>
                    <th>
                        <div class="row" (click)="toggleSort('timestamp')">
                        <div>
                            <span>Date</span>
                        </div>

                        <div class="column">
                            <i 
                            
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            *ngIf="sortColumn !== 'timestamp' || sortDirection === 'asc'"
                            [ngStyle]="{ color: sortColumn === 'timestamp' && sortDirection === 'asc' ? 'black' : 'gray' }"
                            >
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'timestamp' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'timestamp' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                    </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.date" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="pagedTickets.length === 0">
                    <td colspan="3" style="text-align: center; color: red; font-weight: bold;">No tickets to show</td>
                </tr>
                <tr *ngFor="let ticket of pagedTickets">
                    <td>{{ticket.sequence}}</td>
                    <td>{{ticket.timestamp | date}}</td>
                    <td><a [routerLink]="['/ticket', ticket.tickets[0]]" target="_blank" >{{ticket.tickets[0]}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="page" *ngIf="pagedTickets.length > 0">
            <div>
                <p-paginator
                    #paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="first"
                    [rows]="pageSize" 
                    [totalRecords]="totalRecords"
                    [pageLinkSize]="3"

                />
           </div>
           <input type="number" class="goInput" [(ngModel)]="goInputText"/>
           <button class="goButton" (click)="gotoPage()">Go</button>
        </div>
</div>