.container {
  margin: 20px;
  padding-right: 40px;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.table {
  height: 500px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
  background-color: #ffffff;
  margin-top: 10px;
}


.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.table-container th,
.table-container td {
  padding: 12px 10px;
  border-bottom: 4px solid #e0e0e0;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 80px;
}

.table-container tr:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

.table-container td:hover {
  cursor: pointer;
}
.pi-sort-up-fill, .pi-sort-down-fill {
  cursor: pointer;
}
.row {
    display: flex;
    gap: 10px;
    width: 110px
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  z-index: 1000;
}

.horizontalline {
    height: 25px;
    width: 1px;
    border: 1px solid grey;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 12px;
    margin-top: 10px;
    background: #4d4747;
    width: 25px;
    cursor: pointer;
}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  width: 0.7rem;
  height: 0.7rem;
  left: 0.1rem;
  margin-top: -0.35rem;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #3B82F6
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  left: -8px;
}

.searchIcon {
  position: relative;
  border-radius: 5px;
  width: 100px;
  background-color: white;
  border: 1px solid #ccc;
  height: 30px;
  padding-left: 10px;
  padding-right: 22px;
  box-sizing: border-box;
}
.pi-search {
  color: #3B82F6
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}



.pagenumber {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    align-items: center;
    height: 160px;
    width: 120px;
    background: white;
    box-shadow: 0px 1px 1px 1px #a99797;
    border-radius: 6px;
    z-index: 1000;
    top: 35px;
    right: 42px;
}

.pagenumber div {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.active-page-size {
    background-color: grey;
    color: #ffffff;
}

.pageSize {
  border: 2px solid black;
  padding: 2px;
  background-color: #ffffff;
  font-size: 12px;
}

::ng-deep .p-paginator {
    background: #ffffff;
    color: #6c757d;
    border: solid #e9ecef;
    border-width: 0;
    padding: 0.1rem;
    border-radius: 6px;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    border: 0 none;
    color: #6c757d;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 0px;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: #ffffff;
  background-color: #3B82F6;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  color: #000000;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page[disabled] {
  color: #6c757d;
  cursor: not-allowed;
}
::ng-deep .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}

::ng-deep .p-paginator .p-paginator-prev {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
}

::ng-deep .p-paginator .p-paginator-next {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}

::ng-deep .p-paginator .p-paginator-last {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}


::ng-deep .p-paginator .p-paginator-page-input .p-inputtext {
    max-width: 2rem;
    height: 2rem;
    padding: 9px;
}

.goInput {
  text-align: center;
  width: 2rem;
  height: 2.2rem;
  border-radius: 6px;
  border: 1px solid #aab2bc;
}

.goButton {
  width: 2rem;
  height: 2.2rem;
  background-color: #3B82F6;
  color: #ffffff;
  border: none;
  border-radius: 6px
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

.table-container th:nth-child(1),
.table-container td:nth-child(1) {
  max-width: 200px;
  min-width: 200px;
}

.table-container th:nth-child(2),
.table-container td:nth-child(2) {
  max-width: 200px;
  min-width: 200px;
}

.table-container th:nth-child(3),
.table-container td:nth-child(3) {
  max-width: 200px;
  min-width: 200px;
}


::ng-deep .p-paginator .p-paginator-first[disabled],
::ng-deep .p-paginator .p-paginator-prev[disabled],
::ng-deep .p-paginator .p-paginator-next[disabled],
::ng-deep .p-paginator .p-paginator-last[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none !important;
}


@media screen and (max-width: 320px) {
      .dashboard-expanded {
        position: static !important;
        left: 15vw !important;
        top: 7vh !important;
        width: calc(100vw - 8vw) !important;
        margin-left: 20px !important;
      }

    .dashboard-collapsed {
      position: static !important;
      left: 5vw !important;
      top: 7vh !important;
      width: calc(100vw - 8vw) !important;
      margin-left: 20px !important;
    }

    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .page {
      position: static;
      bottom: 0;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
      z-index: 1000;
      margin-top: 10px;
    }

    button {
      height: 50px;
      font-size: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 130px;
      background-color: #3B82F6;
      color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .buttons {
      position: static;
      bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 11px;
      z-index: 1000;
    }

    ::ng-deep .p-paginator .p-paginator-prev {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
    }

    ::ng-deep .p-paginator .p-paginator-next {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }

    ::ng-deep .p-paginator .p-paginator-last {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }
    ::ng-deep .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }

    .searchticket {
      font-size: 1rem;
      cursor: pointer;
      position: absolute;
      top: 294px;
      right: 40px;
    }

    .dashboard-expanded .pagenumber {
        top: 320px !important;
        right: 30px !important;
    }
    .dashboard-collapsed .pagenumber {
        top: 180px !important;
        right: 30px !important;
    }

    .table-container th,
    .table-container td {
      padding-left: 15px !important;
    }

    .container .dashboard-collapsed {
      padding-right: 0px !important;
    }
    .dashboard-collapsed .table {
      height: 420px !important;
    }
    .dashboard-expanded .table {
      height: 280px !important;
    }

}

@media screen and (max-width: 768px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw);
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }

    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .buttons {
      position: static !important;
      gap: 10px !important;
    }

    .page {
      position: static !important;
      display: flex;
      right: 20px !important;
      justify-content: flex-end; 
      margin-top: 10px;
      margin-bottom: 10px !important;
    }
    .table {
      height: 475px !important; 
    }
    button {
    height: 50px;
    font-size: 10px !important;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 136px;
    background-color: #3B82F6;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .table-container th,
    .table-container td {
      padding-left: 45px;
    }

}


@media screen and (max-width: 1024px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw);
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }
    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .table {
        height: 680px; 
    }
    .page {
      right: 30px;
    }

}
