.container {
  margin: 20px;
  padding-right: 40px;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.table {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
}

.table::-webkit-scrollbar {
  display: none;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.table-container th,
.table-container td {
  padding: 12px 10px;
  border-bottom: 4px solid #e0e0e0;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 80px;
}

.table-container tr:hover {
  background-color: #ecf0f1;
}

.table-container td:hover {
  cursor: pointer;
}
.pi-sort-up-fill, .pi-sort-down-fill {
  cursor: pointer;
}
.row {
    display: flex;
    gap: 10px;
}
.column {
    display: flex;
    flex-direction: column;
}

.page {
    position: fixed;
    bottom: 0;
    right: 0vw;
    padding: 10px 20px;
    display: flex;
    margin-bottom: 25px;
    gap: 20px;
}

.horizontalline {
    height: 25px;
    width: 1px;
    border: 1px solid grey;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 12px;
    margin-top: 10px;
    background: #4d4747;
    width: 25px;
}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  background: #ffffff;
  width: 0.7rem;
  height: 0.7rem;
  left: 0.1rem;
  margin-top: -0.35rem;
  border-radius: 50%;
  transition-duration: 0.2s;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: grey;
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  left: -8px;
}

.searchIcon {
  position: relative;
  border-radius: 5px;
  width: 100px;
  background-color: white;
  border: 1px solid #ccc;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
.pi-search {
  color: #3B82F6
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}