.container {
  margin: 20px;
  padding-right: 40px;
}

.table {
  overflow: auto;
  margin-top: 20px;
  height: 480px;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #ffffff;
}

.table-container th, .table-container td {
    padding: 6px 6px;
}

.table-container tr {
    border-bottom: 4px solid #ecf0f1;
    height: 50px;
}

.table-container tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.row {
    display: flex;
    gap: 10px;
}
.column {
    display: flex;
    flex-direction: column;
}

.page {
    position: fixed;
    bottom: 0;
    right: 0vw;
    padding: 10px 20px;
    display: flex;
    margin-bottom: 25px;
    gap: 20px;
}

.horizontalline {
    height: 30px;
    width: 1px;
    border: 1px solid grey;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 20px;
    margin-top: 6px;
}