<app-header></app-header>
<app-dashboard></app-dashboard>


<div [ngClass]="sidebarVisible ? 'dashboard-expanded' : 'dashboard-collapsed'" class="container">
    <div>
        <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <div class="horizontalline"></div>
            <p-inputSwitch />
        </div>
        <div style="margin-top: 6px; display: flex; align-items: center; gap: 5px;">
            <i class="pi pi-bars" style="font-size: 1rem; font-weight: bold;"></i>
            <span>20</span>
        </div>
    </div>
        
    <div class="table">
        <table class="table-container">
            <thead>
                <tr>
                <th>
                    <div class="row">
                    <div>
                        <span>Bill Sequence</span>
                    </div>
                    <span>
                    <div class="column">
                        <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                        <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                    </div>
                    </span>
                    </div>
                </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>DateTime</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                    </th>
                <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <td>{{ticket.ticketId}}</td>
                    <td>{{ticket.status}}</td>
                    <td><a [routerLink]="['/ticket', ticket.ticketId]" target="_blank" >{{ticket.ticketId}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="page">
        <i class="pi pi-angle-left" style="font-size: 1rem"></i>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <i class="pi pi-angle-right" style="font-size: 1rem"></i>
    </div>
    </div>
</div >