.container {
  margin: 20px;
  padding-right: 40px;
}

.search {
  position: relative;
  border-radius: 6px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}


.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.table {
  height: 440px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
  background-color: #ffffff;
}


.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.table-container th,
.table-container td {
  padding: 12px 10px;
  border-bottom: 4px solid #e0e0e0;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container tr:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

.table-container td:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}


.pi-search {
  color: #3B82F6
}

.pi-sort-up-fill, .pi-sort-down-fill {
  cursor: pointer;
}

.buttons {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  z-index: 1000;
}

::ng-deep .buttons .p-button {
  height: 50px !important;
  font-size: 14px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 110px;
}

.column {
  display: flex;
  flex-direction: column;
}

.horizontalline {
  height: 25px;
  width: 1px;
  border: 1px solid grey;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 12px;
    margin-top: 10px;
    background: #4d4747;
    width: 25px;
    cursor: pointer;
}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  width: 0.7rem;
  height: 0.7rem;
  left: 0.1rem;
  margin-top: -0.35rem;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #3B82F6
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  left: -8px;
}



.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 110px;
}

.searchIcon {
  position: relative;
  border-radius: 5px;
  width: 100px;
  background-color: white;
  border: 1px solid #ccc;
  height: 30px;
  padding-left: 10px;
  padding-right: 22px;
  box-sizing: border-box;
}

.search-chip-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  min-height: 40px;
  background-color: #fff;
  cursor: text;
}

.search-chip {
  border: 1px solid black;
  background-color: #ecf0f1;
  color: black;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.search-chip i {
  font-size: 8px;
  margin-left: 6px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffffff;
}

.search-input {
  border: none;
  outline: none;
  padding: 6px;
  font-size: 0.9rem;
  flex: 1;
  min-width: 120px;
}

.page {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  z-index: 1000;
}

button {
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 180px;
  background-color: #3B82F6;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.builtUpdate {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.pi-question {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  border: 1px solid #000000;
  padding: 2px;
  border-radius: 50%;
}

.cancel {
  height: 40px !important;
  background-color: #f2f2f2 !important;
  color: #000000;
  width: 80px !important;
  box-shadow: none !important;
}
.save {
  height: 40px !important;
  color: #ffffff;
  width: 80px !important;
  box-shadow: none !important;
}

::ng-deep .p-dialog .p-dialog-header {
  display: none;
}

::ng-deep .p-dialog {
  position: absolute !important;
  top: 120px;
  border-radius: 6px;
}

::ng-deep .p-dialog .p-dialog-content:last-of-type {
  border-radius: 6px;
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 20px;
}

.tag-input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
}

.time-input {
  height: 30px;
  width: 80px;
  border-radius: 6px;
}

.pagenumber {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    align-items: center;
    height: 160px;
    width: 120px;
    background: white;
    box-shadow: 0px 1px 1px 1px #a99797;
    border-radius: 6px;
    z-index: 1000;
    top: 84px;
    right: 42px;
}

.pagenumber div {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.active-page-size {
    background-color: grey;
    color: #ffffff;
}

.pageSize {
  border: 2px solid black;
  padding: 2px;
  background-color: #ffffff;
  font-size: 12px;
}

::ng-deep .p-paginator {
    background: #ffffff;
    color: #6c757d;
    border: solid #e9ecef;
    border-width: 0;
    padding: 0.1rem;
    border-radius: 6px;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    border: 0 none;
    color: #6c757d;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 0px;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: #ffffff;
  background-color: #3B82F6;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  color: #000000;
}
::ng-deep .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}

::ng-deep .p-paginator .p-paginator-prev {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
}

::ng-deep .p-paginator .p-paginator-next {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}

::ng-deep .p-paginator .p-paginator-last {
    border: 0 none;
    color: #000000;
    min-width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}


::ng-deep .p-paginator .p-paginator-page-input .p-inputtext {
    max-width: 2rem;
    height: 2rem;
    padding: 9px;
}

.goInput {
  text-align: center;
  width: 2rem;
  height: 2.2rem;
  border-radius: 6px;
  border: 1px solid #aab2bc;
}

.goButton {
  width: 2rem !important;
  height: 2.2rem !important;
  background-color: #3B82F6;
  color: #ffffff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

.timeButtons {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  z-index: 1000;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page[disabled] {
  color: #6c757d;
  cursor: not-allowed;
}

.searchticket {
  font-size: 1rem; cursor: pointer; position: absolute; top: 14px; right: 60px;
}

@media screen and (max-width: 320px) {
      .dashboard-expanded {
        position: static !important;
        left: 15vw !important;
        top: 7vh !important;
        width: calc(100vw - 15vw) !important;
        margin-left: 20px !important;
      }

    .dashboard-collapsed {
      position: static !important;
      left: 5vw !important;
      top: 7vh !important;
      width: calc(100vw - 5vw) !important;
      margin-left: 20px !important;
    }

    .container {
      margin: 20px;
      padding-right: 0px !important;
    }

    .buttons {
      position: static !important;
      bottom: 10px !important;
      display: flex;
      justify-content: flex-start !important;
      gap: 20px !important;
      z-index: 1000;
    }
    .page {
      position: static;
      bottom: 0;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 11px;
      margin-bottom: 20px;
      z-index: 1000;
      margin-top: 10px;
    }

    button {
      height: 50px !important;
      font-size: 10px !important;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 130px !important;
      background-color: #3B82F6;
      color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .buttons {
      position: static;
      bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 11px;
      z-index: 1000;
    }

    ::ng-deep .p-paginator .p-paginator-prev {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
    }

    ::ng-deep .p-paginator .p-paginator-next {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }

    ::ng-deep .p-paginator .p-paginator-last {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }
    ::ng-deep .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
        border: 0 none;
        color: #000000;
        min-width: 1rem;
        height: 2rem;
        margin: 0.1rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }

    .searchticket {
      font-size: 1rem;
      cursor: pointer;
      position: absolute !important;
      top: 294px !important;
      right: 40px !important;
    }

    .pagenumber {
        top: 374px !important;
        right: 30px !important;
    }
    ::ng-deep .p-toast {
      width: 280px !important;
    }

}

@media screen and (max-width: 768px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw);
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }

    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .buttons {
      position: static !important;
      gap: 10px !important;
    }

    .page {
      position: static !important;
      display: flex;
      justify-content: flex-end; 
      margin-top: 10px;
      margin-bottom: 10px !important;
      right: 20px;
    }
    .table {
      height: 375px !important; 
    }
    button {
    height: 50px;
    font-size: 10px !important;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 136px;
    background-color: #3B82F6;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .searchticket {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 40px;

  }

}


/* @media screen and (max-width: 1024px) {
  .dashboard-expanded {
      position: absolute;
      left: 20vw;
      top: 7vh;
      width: calc(100vw - 23vw);
      margin-left: 20px;
    }

    .dashboard-collapsed {
      position: absolute;
      left: 10vw;
      top: 7vh;
      width: calc(100vw - 13vw);
      margin-left: 20px;
    }
    .container {
      margin: 20px;
      padding-right: 20px;
    }

    .table {
        height: 575px; 
    }
    .page {
      position: static !important;
      display: flex;
      justify-content: flex-end; 
      margin-top: 10px;
      margin-bottom: 10px !important;
      right: 20px;
    }

    button {
    height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 136px;
    background-color: #3B82F6;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .buttons {
      position: static !important;
      gap: 10px !important;
    }


} */
