.container {
  margin: 20px;
  padding-right: 40px;
}

.search {
  position: relative;
  border-radius: 6px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}


.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.table {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
}

.table::-webkit-scrollbar {
  display: none;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.table-container th,
.table-container td {
  padding: 12px 10px;
  border-bottom: 4px solid #e0e0e0;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container tr:hover {
  background-color: #ecf0f1;
}

.table-container td:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}


.pi-search {
  color: #3B82F6
}

.pi-sort-up-fill, .pi-sort-down-fill {
  cursor: pointer;
}

.buttons {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  z-index: 1000;
}

::ng-deep .buttons .p-button {
  height: 50px !important;
  font-size: 14px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.horizontalline {
  height: 25px;
  width: 1px;
  border: 1px solid grey;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 12px;
    margin-top: 10px;
    background: #4d4747;
    width: 25px;
}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  background: #ffffff;
  width: 0.7rem;
  height: 0.7rem;
  left: 0.1rem;
  margin-top: -0.35rem;
  border-radius: 50%;
  transition-duration: 0.2s;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: grey;
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  left: -8px;
}



.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.searchIcon {
  position: relative;
  border-radius: 5px;
  width: 100px;
  background-color: white;
  border: 1px solid #ccc;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.search-chip-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  min-height: 40px;
  background-color: #fff;
  cursor: text;
}

.search-chip {
  border: 1px solid black;
  background-color: #ecf0f1;
  color: black;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.search-chip i {
  font-size: 8px;
  margin-left: 6px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffffff;
}

.search-input {
  border: none;
  outline: none;
  padding: 6px;
  font-size: 0.9rem;
  flex: 1;
  min-width: 120px;
}

.page {
  position: fixed;
  bottom: 0;
  right: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  margin-bottom: 25px;
  z-index: 1000;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

button {
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 180px;
  background-color: #3B82F6;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.builtUpdate {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.pi-question {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  border: 1px solid #000000;
  padding: 2px;
  border-radius: 50%;
}

.cancel {
  height: 40px !important;
  background-color: #ffffff !important;
  color: #000000;
  width: 80px !important;
}
.save {
  height: 40px !important;
  color: #ffffff;
  width: 80px !important;
}

::ng-deep .p-dialog .p-dialog-header {
  display: none;
}

::ng-deep .p-dialog {
  position: absolute !important;
  top: 120px;
  border-radius: 6px;
}

::ng-deep .p-dialog .p-dialog-content:last-of-type {
  border-radius: 6px;
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 20px;
}

.tag-input {
  height: 30px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.time-input {
  height: 30px;
  width: 100px;
  border-radius: 6px;
}




