<app-header></app-header>
<app-dashboard></app-dashboard>

<div [ngClass]="sidebarVisible ? 'dashboard-expanded' : 'dashboard-collapsed'" class="container">
  <div>
        <div class="search-chip-container" (click)="inputRef.focus()">
            <span *ngFor="let term of searchTerms; let i = index" class="search-chip">
                {{ term }}
                <i class="pi pi-times" (click)="removeSearchTerm(i)"></i>
            </span>
            <input
                #inputRef
                type="text"
                class="search-input"
                [(ngModel)]="currentInput"
                (keydown)="onKeyDown($event)"
                (paste)="onPaste($event)"
            />
            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute; top: 14px; right: 60px;"></i>
    </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <p>Select All</p>
            <div class="horizontalline"></div>
            <p-inputSwitch [(ngModel)]="checked" (click)="change()"/>
        </div>
        <div style="margin-top: 6px; display: flex; align-items: center; gap: 5px;">
            <i class="pi pi-bars" style="font-size: 1rem; font-weight: bold;"></i>
            <span>20</span>
        </div>
    </div>
    <div class="table">
        <table class="table-container">
            <thead>
                <tr>
                    <th><p-checkbox  [binary]="true" inputId="binary" /></th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Ticket Id</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Jira Type</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Description</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Assignee</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Status</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Estimated Time</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Story Point</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Release Tag</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Sprint</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" />
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of pagedTickets">
                  <td><p-checkbox [binary]="true" inputId="binary" /></td>
                  <td pTooltip="{{ ticket.ticketId }}" tooltipPosition="bottom">{{ ticket.ticketId }}</td>
                  <td pTooltip="{{ ticket.jiraType }}" tooltipPosition="bottom">{{ ticket.jiraType }}</td>
                  <td pTooltip="{{ ticket.description }}" class="text-ellipsis" tooltipPosition="bottom">{{ ticket.description }}</td>
                  <td pTooltip="{{ ticket.assignee }}" tooltipPosition="bottom">{{ ticket.assignee }}</td>
                  <td pTooltip="{{ ticket.status }}" tooltipPosition="bottom"><span style="background-color: green; padding: 8px; border-radius: 20px;">{{ ticket.status }}</span></td>
                  <td pTooltip="{{ ticket.estimateTime }}" tooltipPosition="bottom">{{ ticket.estimateTime }}</td>
                  <td pTooltip="{{ ticket.storyPoint }}" tooltipPosition="bottom">{{ ticket.storyPoint }}</td>
                  <td pTooltip="{{ ticket.releaseTag }}" tooltipPosition="bottom">{{ ticket.releaseTag }}</td>
                  <td pTooltip="{{ ticket.sprint }}" tooltipPosition="bottom">{{ ticket.sprint }}</td>
                </tr>
          </tbody>
          </table>
    </div>
    <div style="display: flex;">
    <div class="buttons">
        <p-button>Update Estimated Time</p-button>
        <p-button>Update Release Tag</p-button>
        <p-button>Update Story Point</p-button>
        <p-button>Update Status for Build</p-button>
    </div>
    <div class="page">
        <i class="pi pi-angle-left" style="font-size: 1rem"></i>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <i class="pi pi-angle-right" style="font-size: 1rem"></i>
    </div>
    </div>
</div>