<app-header></app-header>
<app-dashboard></app-dashboard>

<p-toast></p-toast>

<div [ngClass]="sidebarVisible ? 'dashboard-expanded' : 'dashboard-collapsed'" class="container">
  <div>
        <div class="search-chip-container" (click)="inputRef.focus()">
            <span *ngFor="let term of searchTerms; let i = index" class="search-chip">
                {{ term }}
                <i class="pi pi-times" (click)="removeSearchTerm(i)"></i>
            </span>
            <input
                #inputRef
                type="text"
                class="search-input"
                [(ngModel)]="currentInput"
                (keydown)="onKeyDown($event)"
            />
            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute; top: 14px; right: 60px;"></i>
    </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <p>Select All</p>
            <div class="horizontalline"></div>
            <p-inputSwitch [(ngModel)]="checked" (click)="change()"/>
        </div>
        <div style="margin-top: 6px; display: flex; align-items: center; gap: 5px;">
            <i class="pi pi-bars" style="font-size: 1rem; font-weight: bold;"></i>
            <span>20</span>
        </div>
    </div>
    <div class="table">
        <table class="table-container">
            <thead>
                <tr>
                    <th>
                        <p-checkbox
                            [binary]="true"
                            [ngModel]="selectAll"
                            (onChange)="toggleSelectAll($event.checked)">
                        </p-checkbox>

                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Ticket Id</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'ticketId' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('ticketId', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'ticketId' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('ticketId', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon"  [(ngModel)]="columnSearch.ticketId" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Jira Type</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'jiraType' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('jiraType', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'jiraType' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('jiraType', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.jiraType" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Description</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'description' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('description', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'description' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('description', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.description" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Assignee</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'assignee' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('assignee', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'assignee' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('assignee', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.assignee" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Status</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'status' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('status', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'status' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('status', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.status" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row"> 
                        <div>
                            <span>Estimated Time</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'estimateTime' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('estimateTime', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'estimateTime' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('estimateTime', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.estimateTime" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Story Point</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'storyPoint' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('storyPoint', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'storyPoint' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('storyPoint', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.storyPoint" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Release Tag</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'releaseTag' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('releaseTag', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'releaseTag' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('releaseTag', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.releaseTag" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                        <div>
                            <span>Sprint</span>
                        </div>
                        <span>
                        <div class="column">
                            <i class="pi pi-sort-up-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'sprint' && sortDirection === 'asc' ? 'black' : 'gray'}" (click)="sortBy('sprint', 'asc')"></i>
                            <i class="pi pi-sort-down-fill" style="font-size: 0.5rem" [ngStyle]="{color: sortColumn === 'sprint' && sortDirection === 'desc' ? 'black' : 'gray'}" (click)="sortBy('sprint', 'desc')"></i>
                        </div>
                        </span>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.sprint" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of pagedTickets">
                  <td>
                    <p-checkbox
                        [binary]="true"
                        [ngModel]="selectedTickets.includes(ticket)"
                        (onChange)="onTicketSelect(ticket, $event.checked)">
                    </p-checkbox>

                  </td>
                  <td>{{ ticket.ticketId }}</td>
                  <td>{{ ticket.jiraType }}</td>
                  <td pTooltip="{{ ticket.description }}" class="text-ellipsis" tooltipPosition="bottom">{{ ticket.description }}</td>
                  <td pTooltip="{{ ticket.assignee }}" tooltipPosition="bottom">{{ ticket.assignee }}</td>
                  <td><span [ngStyle]="{ background: ticket.status === 'Deployed' ? '#f2f2f2': '#CFEBCD'}" style="padding: 5px; border-radius: 10px; display: inline-block; width: 80px; text-align: center;">{{ ticket.status }}</span></td>
                  <td *ngIf="editingEstimateTime && selectedTickets.includes(ticket)">
                    <input
                        type="number"
                        [(ngModel)]="getEditedTicket(ticket.ticketId).estimateTime"
                        class="time-input"
                    />
                    </td>

                    <td *ngIf="!editingEstimateTime || !selectedTickets.includes(ticket)">
                    {{ ticket.estimateTime }}h
                  </td>
                  <!-- <td pTooltip="{{ ticket.estimateTime }}" tooltipPosition="bottom">{{ ticket.estimateTime }}h</td> -->
                  <td>{{ ticket.storyPoint }}</td>
                  <td pTooltip="{{ ticket.releaseTag }}" tooltipPosition="bottom" class="text-ellipsis">{{ ticket.releaseTag }}</td>
                  <td >{{ ticket.sprint }}</td>
                </tr>
          </tbody>
          </table>
    </div>
    <div style="display: flex;">
    <div class="buttons">
            <!-- <button
                (click)="setActive('estimatedTime')"
                [ngStyle]="getButtonStyle('estimatedTime')">
                Update Estimated Time
            </button> -->

            <button
            *ngIf="!editingEstimateTime && permissionMap?.['UpdateEstimateTime']"
            (click)="enableEstimateEdit()">
             Update Estimated Time
            </button>

            <div style="display: flex; justify-content: flex-end;" *ngIf="editingEstimateTime && permissionMap?.['UpdateEstimateTime']">
            <button (click)="saveEstimateEdit()">Save</button>
            <button (click)="cancelEstimateEdit()">Cancel</button>
            </div>

            <button
            *ngIf="permissionMap?.['UpdateReleaseTag']"
            (click)="setActive('releaseTag'); openReleaseDialog()"
            [ngStyle]="getButtonStyle('releaseTag')">
            Update Release Tag
            </button>

            <button
            *ngIf="permissionMap?.['UpdateStoryPoint']"
            (click)="setActive('storyPoint'); updateStoryPoint = true"
            [ngStyle]="getButtonStyle('storyPoint')">
            Update Story Point
            </button>

            <button
            *ngIf="permissionMap?.['UpdateStatusForBuild']"
            (click)="setActive('status'); updateBuild = true"
            [ngStyle]="getButtonStyle('status')">
            Update Status for Build
            </button>


        </div>
        <div class="page">
            <i class="pi pi-angle-left" style="font-size: 1rem"></i>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <i class="pi pi-angle-right" style="font-size: 1rem"></i>
        </div>
        </div>
    </div>


<p-dialog [modal]="true" [(visible)]="updateBuild" [style]="{ width: '24rem' }" [resizable]="false" [draggable]="false">
    <div style="display: flex; justify-content: center; ">
        <i class="pi pi-question"></i>
    </div>
    <p style="text-align: center;">Do you want to Update Status for Build?..</p>
    <div class="builtUpdate">
        <button class="cancel" (click)="cancelBuild()">No</button>
        <button class="save" (click)="updateBuildStatus()">Yes</button>
    </div>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showReleaseDialog" [style]="{ width: '24rem' }" [resizable]="false" [draggable]="false">
    <p>Update Release Tag Value</p>
    <input class="tag-input" [(ngModel)]="releaseTagValue"/>
    <div class="builtUpdate">
        <button class="cancel" (click)="cancelBuild()">Cancle</button>
        <button class="save" [ngStyle]="{ background: releaseTagValue.length > 0 ? '#3B82F6': 'grey'}" (click)="confirmReleaseTag()" [disabled]="!releaseTagValue.length">Proceed</button>
    </div>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="updateStoryPoint" [style]="{ width: '24rem' }" [resizable]="false" [draggable]="false">
    <div style="display: flex; justify-content: center; ">
        <i class="pi pi-question"></i>
    </div>
    <p style="text-align: center;">Do you want to Update Story Point?..</p>
    <div class="builtUpdate">
        <button class="cancel" (click)="cancelBuild()">No</button>
        <button class="save" (click)=updateStoryPoints()>Yes</button>
    </div>
</p-dialog>
