<app-header></app-header>
<app-dashboard></app-dashboard>

<p-toast></p-toast>

<div [ngClass]="sidebarVisible ? 'dashboard-expanded' : 'dashboard-collapsed'" class="container">
  <div>
        <div class="search-chip-container" (click)="inputRef.focus()">
            <span *ngFor="let term of searchTerms; let i = index" class="search-chip">
                {{ term }}
                <i class="pi pi-times" (click)="removeSearchTerm(i)"></i>
            </span>
            <input
                #inputRef
                type="text"
                class="search-input"
                [(ngModel)]="currentInput"
                (keydown)="onKeyDown($event)"
            />
            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute; top: 14px; right: 60px;"></i>
    </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <p style="cursor: pointer;" (click)=toggleSelectAll(selected)>Select All</p>
            <div class="horizontalline"></div>
            <p-inputSwitch [(ngModel)]="checked" (click)="change()" />
        </div>
        <div style="margin-top: 6px; display: flex; align-items: center; gap: 5px; cursor: pointer;" (click)="togglePage()" #menuToggle>
            <i class="pi pi-bars" style="font-size: 1rem; font-weight: bold;"></i>
            <span class="pageSize">{{ pageSize }}</span>

            <div class="pagenumber" *ngIf="showpage" #menuDropdown>
                <div (click)="updatePageSize(20)" [ngClass]="{ 'active-page-size': pageSize === 20 }">Show 20</div>
                <div (click)="updatePageSize(30)" [ngClass]="{ 'active-page-size': pageSize === 30 }">Show 30</div>
                <div (click)="updatePageSize(40)" [ngClass]="{ 'active-page-size': pageSize === 40 }">Show 40</div>
            </div>
        </div>

    </div>
    <div class="table">
        <table class="table-container">
            <thead>
                <tr>
                    <th>
                        <p-checkbox
                            [binary]="true"
                            [ngModel]="selectAll"
                            (onChange)="togglepage($event.checked)" [disabled]="editingEstimateTime">
                        </p-checkbox>

                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('ticketId')">
                        <div>
                            <span>Ticket Id</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'ticketId' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'ticketId' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'ticketId' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'ticketId' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon"  [(ngModel)]="columnSearch.ticketId" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('jiraType')">
                        <div>
                            <span>Jira Type</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'jiraType' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'jiraType' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'jiraType' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'jiraType' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.jiraType" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('description')">
                        <div>
                            <span>Description</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'description' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'description' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'description' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'description' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.description" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('assignee')">
                        <div>
                            <span>Assignee</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'assignee' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'assignee' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'assignee' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'assignee' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.assignee" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('status')">
                        <div>
                            <span>Status</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'status' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'status' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'status' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'status' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.status" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('estimateTime')">
                        <div>
                            <span>Estimated Time</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'estimateTime' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'estimateTime' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'estimateTime' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'estimateTime' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.estimateTime" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('storyPoint')">
                        <div>
                            <span>Story Point</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'storyPoint' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'storyPoint' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'storyPoint' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'storyPoint' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.storyPoint" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('releaseTag')">
                        <div>
                            <span>Release Tag</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'releaseTag' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'releaseTag' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'releaseTag' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'releaseTag' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.releaseTag" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                    <th>
                        <div class="row" (click)="toggleSort('sprint')">
                        <div>
                            <span>Sprint</span>
                        </div>

                        <div class="column">
                            <i 
                            *ngIf="sortColumn !== 'sprint' || sortDirection === 'asc'"
                            class="pi pi-sort-up-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'sprint' && sortDirection === 'asc' ? 'black' : 'gray' }">
                            </i>

                            <i 
                            *ngIf="sortColumn !== 'sprint' || sortDirection === 'desc'"
                            class="pi pi-sort-down-fill" 
                            style="font-size: 0.5rem"
                            [ngStyle]="{ color: sortColumn === 'sprint' && sortDirection === 'desc' ? 'black' : 'gray' }">
                            </i>
                        </div>
                        </div>
                        <div style="position: relative; margin-top: 10px;" *ngIf="searchIcon">
                        <input type="search"
                            class="searchIcon" [(ngModel)]="columnSearch.sprint" (ngModelChange)="filterTickets()"/>
                            <i class="pi pi-search" style="font-size: 1rem; cursor: pointer; position: absolute;top: 7px; left: 80px;"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let ticket of pagedTickets">
                  <td>
                    <p-checkbox
                        [binary]="true"
                        [ngModel]="selectedTickets.includes(ticket)"
                        (onChange)="onTicketSelect(ticket, $event.checked)"
                        [disabled]="editingEstimateTime">
                    </p-checkbox>

                  </td>
                  <td style="width: 110px;">{{ ticket.ticketId }}</td>
                  <td style="width: 110px;">{{ ticket.jiraType }}</td>
                  <td pTooltip="{{ ticket.description }}" class="text-ellipsis" tooltipPosition="bottom">{{ ticket.description }}</td>
                  <td pTooltip="{{ ticket.assignee }}" tooltipPosition="bottom" style="width: 110px;">{{ ticket.assignee }}</td>
                  <td><span [ngStyle]="{ background: ticket.status === 'Deployed' ? '#f2f2f2': '#CFEBCD'}" style="padding: 5px; border-radius: 10px; display: inline-block; width: 110px; text-align: center;">{{ ticket.status }}</span></td>
                  <td *ngIf="editingEstimateTime && selectedTickets.includes(ticket)">
                    <input
                        type="number"
                        [(ngModel)]="getEditedTicket(ticket.ticketId).estimateTime"
                        class="time-input"
                    />
                    </td>

                    <td *ngIf="!editingEstimateTime || !selectedTickets.includes(ticket)" style="width: 110px;">
                    {{ ticket.estimateTime }}h
                    </td>
                  <td style="width: 110px;">{{ ticket.storyPoint }}</td>
                  <td pTooltip="{{ ticket.releaseTag }}" tooltipPosition="bottom" class="text-ellipsis">{{ ticket.releaseTag }}</td>
                  <td style="width: 110px;">{{ ticket.sprint }}</td>
                </tr>
            </tbody>
          </table>
    </div>
    <div style="display: flex;">
    <div class="buttons">

            <button
                *ngIf="!editingEstimateTime && permissionMap?.['UpdateEstimateTime']"
                (click)="setActive('estimateTime'); enableEstimateEdit()" 
                [disabled]="selectedTickets.length <= 0" 
                [ngStyle]="getButtonStyle('estimateTime')">
                Update Estimated Time
            </button>

            <div class="timeButtons" *ngIf="editingEstimateTime && permissionMap?.['UpdateEstimateTime']">
            <button (click)="cancelEstimateEdit()" class="cancel" style="background-color: #ffffff !important; border: 1px solid gray;">Cancel</button>
            <button (click)="saveEstimateEdit()" class="save">Save</button>
            </div>

            <button
            *ngIf="!editingEstimateTime && permissionMap?.['UpdateReleaseTag']"
            (click)="setActive('releaseTag'); openReleaseDialog()"
            [ngStyle]="getButtonStyle('releaseTag')"
            [disabled]="selectedTickets.length !== 1">
            Update Release Tag
            </button>

            <button
            *ngIf="!editingEstimateTime && permissionMap?.['UpdateStoryPoint']"
            (click)="setActive('storyPoint'); storyPointUpdate()"
            [ngStyle]="getButtonStyle('storyPoint')" [disabled]="selectedTickets.length !== 1">
            Update Story Point
            </button>

            <button
            *ngIf="!editingEstimateTime && permissionMap?.['UpdateStatusForBuild']"
            (click)="setActive('status'); BuildUpdate()"
            [ngStyle]="getButtonStyle('status')" [disabled]="selectedTickets.length !== 1">
            Update Status for Build
            </button>


    </div>
        <div class="page" *ngIf="!editingEstimateTime">
            <div>
                <p-paginator
                    #paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="first"
                    [rows]="pageSize" 
                    [totalRecords]="totalRecords"
                    [pageLinkSize]="3"
                />
           </div>
           <input type="number" class="goInput" [(ngModel)]="goInputText"/>
           <button class="goButton" (click)="gotoPage()">Go</button>
        </div>
        </div>
    </div>


    <p-dialog [modal]="true" [(visible)]="updateBuild" [style]="{ width: '22rem' }" [resizable]="false" [draggable]="false">
        <div style="display: flex; justify-content: center; ">
            <i class="pi pi-question"></i>
        </div>
        <p style="text-align: center; color: #000000;">Do you want to Update Status for Build?..</p>
        <div class="builtUpdate">
            <button class="cancel" (click)="cancelBuild()">No</button>
            <button class="save" (click)="updateBuildStatus()">Yes</button>
        </div>
    </p-dialog>

    <p-dialog [modal]="true" [(visible)]="showReleaseDialog" [style]="{ width: '22rem' }" [resizable]="false" [draggable]="false">
        <p style="color: black;">Update Release Tag Value</p>
        <input class="tag-input" [(ngModel)]="releaseTagValue"/>
        <div class="builtUpdate">
            <button class="cancel" (click)="cancelBuild()">Cancle</button>
            <button class="save" [ngStyle]="{ background: releaseTagValue.length > 0 ? '#3B82F6': 'grey', cursor: releaseTagValue.length > 0 ? 'pointer': 'not-allowed' }" (click)="confirmReleaseTag()" [disabled]="!releaseTagValue.length">Proceed</button>
        </div>
    </p-dialog>

    <p-dialog [modal]="true" [(visible)]="updateStoryPoint" [style]="{ width: '22rem' }" [resizable]="false" [draggable]="false">
        <p style="color: black;">Update Story Point Value</p>
        <input class="tag-input" [(ngModel)]="storyPointValue" type="number"/>
        <div class="builtUpdate">
            <button class="cancel" (click)="cancelBuild()">Cancle</button>
            <button class="save" [ngStyle]="{ background: storyPointValue ? '#3B82F6' : 'grey', cursor: storyPointValue ? 'pointer' : 'not-allowed'}" (click)="confirmStoryPoint()" [disabled]="!storyPointValue">
  Proceed
</button>
        </div>
    </p-dialog>
